body{
background: #000;
font-family: "Fjalla One", sans-serif;
  font-weight: 400;
  font-size: 16px;
  text-align: center;
  color: #fff;
}
h2{
  font-family: "Fjalla One", sans-serif;
    font-weight: 400;
    font-size: 48px;
    color: #ffea00;
}