.footer-navigation{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  font-family: "Fjalla One", sans-serif;
    font-weight: 400;
    font-size: 36px;
    text-align: center;
    color: #ffea00;
}
.footer-text{
  font-size: 14px;
  margin-top: 32px;
}
@media only screen and (min-width: 1440px) {
  .footer-navigation{
    flex-direction: row;
    justify-content: space-between;
  }
  .footer-container{
    padding-left: 129px;
    padding-right: 129px;
  }
}