.home-section{
    background-image: url("/img/hero/mob.png");
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    height: 1740px;
}
.hero-logo{
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}
.hero-subtitle{
    margin-top: 15px;
    font-family: "Fjalla One", sans-serif;
        font-weight: 400;
        font-size: 24px;
        text-align: center;
        color: #fff;
}
.hero-text{
    margin-top: 15px;
    font-family: "Fjalla One", sans-serif;
        font-weight: 400;
        font-size: 20px;
        letter-spacing: -0.01em;
        text-align: center;
        color: #790bff;
}




.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0 0 0 0);
    white-space: nowrap;
    border: 0;
}

@keyframes pulse-animation {
    0% {
        transform: scale(1);
        opacity: 1;
    }

    50% {
        transform: scale(1.1);
        opacity: 0.9;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}

.hero-btn.pulse {
    animation: pulse-animation 2s infinite;
    transition: transform 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 26px;
    background: #00ff15;
    
        width: 320px;
        height: 68px;
        font-family: "Fjalla One", sans-serif;
            font-weight: 400;
            font-size: 24px;
            text-transform: uppercase;
            text-align: center;
            color: #000;
}
.disclaimer-wrapper{
    margin-top: 7px;
border-radius: 50px;
    padding: 28px 38px;
    width: 355px;
    height: auto;
    background: #790bff;
    margin-left: auto;
    margin-right: auto;
}
.disclaimer-title{
    font-family: "Fjalla One", sans-serif;
        font-weight: 400;
        font-size: 36px;
        text-transform: uppercase;
        text-align: center;
        color: #fff;
}
.disclaimer-text{
    margin-top: 14px;
    font-family: "Fjalla One", sans-serif;
        font-weight: 400;
        font-size: 18px;
        text-transform: uppercase;
        text-align: center;
        color: #fff;
}
.visual-text-one{
    margin-top: 24px;
    margin-bottom: 24px;
    color: #790bff;
}
.visual-swiper{
    margin-top: 62px;
}
.visual-subtitle{
    font-family: "Fjalla One", sans-serif;
        font-weight: 400;
        font-size: 32px;
        text-align: center;
        color: #fff;
}
.visual-text-slide{
    margin-top: 23px;
    color: #ffea00;
    height: 40px;
    width: 237px;
    margin-left: auto;
    margin-right: auto;
}
.visual-container{
    padding-bottom: 0;
}
.hero-pump{
    display: none;
}
@media only screen and (min-width: 1440px) {
    .home-section{
        background-image: url("/img/hero/desk.png");
   height: 1470px;
    }
    .hero-container{
        position: relative;
    }
    .hero-pump{
        display: block;
        position: absolute;
        top: 21%;
        left: 0;
    }
    .hero-logo{
margin-top: 40px;
    }
    .hero-subtitle{
        margin-top: 20px;
        width: 750px;
        margin-left: auto;
        margin-right: auto;
        font-size: 32px;
    }
    .hero-text{
        font-size: 20px;
        margin-top: 31px;
    }
    .disclaimer-wrapper{
        margin-top: 0;
        border-radius: 50px;
            padding: 28px 34px;
            width: 1370px;
            height: 164px;
            margin-left: -20px;
    }
    .disclaimer-title{
        text-align: left;
    }
    .disclaimer-text{
        font-size: 20px;
        text-align: left;
    }
    .visual-swiper{
        margin-top: 62px;
    }
        .visual-swiper .swiper-wrapper,
            .similar-swiper .swiper-wrapper {
        display: flex;
        gap: 96px;
        justify-content: center;
            }

    .visual-swiper-slide{
        width: 237px !important;
        height: 103px !important;
    }
}